.collection-card {
    position: relative;
    width: 100%;
    padding-top: 59.6%;
    background-size:cover;
    background-position: 50% 50%;
    display: block;
    font-family:$main-font;

    @include breakpoint(extra-small) {
        padding-top:0;
        height:180px;
    }
    
    &::before{
        content:'';
        position: absolute;
        display: block;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:1;
        background-color: rgba($alt-color, 0.7);
        opacity: 0;
        transition: opacity 600ms;
    }

    &:hover{
        &::before{
            opacity: 1;
        }

        .collection-card__title {
            &::before{
                width:32px;
            }
        }
    }


    .collection-card__title {
        margin-top:-14px;
        position: absolute;
        color: #fff;
        text-align: center;
        top: 50%;
        left:20px;
        right:20px;
        font-size: 29px;
        letter-spacing: 10px;
        line-height: 28px;
        z-index:2;
        text-transform: uppercase;

        &::before{
            content: '';
            display: block;
            position: absolute;
            height:2px;
            top: 60px;
            left:50%;
            transform: translateX(-50%);
            background-color: #fff;
            width:0;
            transition: width 300ms 200ms;
        }
    }
}