<?xml version="1.0" encoding="UTF-8"?>
<svg width="80px" height="64px" viewBox="0 0 80 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>8999B79B-DAAB-40FF-9F81-AD33EAD9EC2E@1x</title>
    <desc>Created with sketchtool.</desc>
    <defs>
        <polygon id="path-1" points="0.154937759 0.0917842324 50.6233195 0.0917842324 50.6233195 19.5936432 0.154937759 19.5936432"></polygon>
        <polygon id="path-3" points="0.0587385892 0.156414938 9.14836515 0.156414938 9.14836515 8.7966805 0.0587385892 8.7966805"></polygon>
        <polygon id="path-5" points="0 63.1447303 79.9817427 63.1447303 79.9817427 0.165975104 0 0.165975104"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Enerskin_main" transform="translate(-683.000000, -4720.000000)">
            <g id="Footer" transform="translate(-36.000000, 4455.000000)">
                <g transform="translate(0.000000, 0.500000)" id="enerskin-logo-footer">
                    <g transform="translate(719.000000, 265.000000)">
                        <path d="M68.0478506,23.9310207 C68.0478506,23.9310207 68.9632033,28.1530954 62.3791369,29.7738423 C49.0524979,33.0545062 34.1464398,38.0603154 20.1708382,46.2905228 L78.7497593,46.2905228 L68.0478506,23.9310207 Z" id="Fill-1" fill="#FBB216"></path>
                        <path d="M54.968249,20.7019585 C45.7795353,19.572 25.4993693,19.6680996 7.02916183,23.3934108 L1.09986722,45.1333278 C18.394971,35.1110871 39.8704896,27.9683485 53.8338091,25.4287635 C61.0592033,24.1147386 62.9383734,21.6820415 54.968249,20.7019585" id="Fill-3" fill="#FBB216"></path>
                        <g id="Group-7" transform="translate(17.925311, 0.074191)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-6"></g>
                            <path d="M40.4810788,15.4454274 C47.3768465,16.8333112 48.426473,19.5936432 48.426473,19.5936432 L50.6233195,0.0917344398 L0.154937759,14.1192863 C14.9439834,12.4492448 32.4853942,13.8361328 40.4810788,15.4454274" id="Fill-5" fill="#FBB216" mask="url(#mask-2)"></path>
                        </g>
                        <polygon id="Fill-8" fill="#FEFEFE" points="2.91073859 59.6899087 7.82575934 59.6899087 7.82575934 57.9601162 2.91073859 57.9601162 2.91073859 56.5966307 8.31970124 56.5966307 8.31970124 54.7096598 3.31950207e-05 54.7096598 3.31950207e-05 62.9423568 8.48185892 62.9423568 8.48185892 61.05439 2.91073859 61.05439"></polygon>
                        <polygon id="Fill-10" fill="#FEFEFE" points="16.9889627 59.2723817 16.7609129 59.2723817 16.6862241 59.2046639 13.6975104 54.7097261 10.6452282 54.7097261 10.6452282 62.9422573 13.3804979 62.9422573 13.3804979 58.2816763 13.6095436 58.2816763 13.6795851 58.3450788 16.8329461 62.9422573 19.726556 62.9422573 19.726556 54.7097261 16.9889627 54.7097261"></polygon>
                        <polygon id="Fill-12" fill="#FEFEFE" points="24.9732614 59.6899087 29.889278 59.6899087 29.889278 57.9601162 24.9732614 57.9601162 24.9732614 56.5966307 30.3847137 56.5966307 30.3847137 54.7096598 22.0640498 54.7096598 22.0640498 62.9423568 30.5440498 62.9423568 30.5440498 61.05439 24.9732614 61.05439"></polygon>
                        <path d="M37.4327469,58.4363485 L35.6058589,58.4363485 L35.6058589,56.4413278 L37.2576432,56.4413278 C38.0647801,56.4413278 38.9957344,56.5565145 38.9957344,57.439668 C38.9957344,58.4363485 37.8173112,58.4363485 37.4327469,58.4363485 M41.8790539,61.2776763 C41.7641992,60.2577593 41.2437012,59.526805 40.4505062,59.2761826 L39.9905892,59.1316183 L40.4505062,58.9926971 C41.525195,58.6687137 41.905112,57.7140249 41.905112,56.9963485 C41.905112,55.4164315 40.2749046,54.7097095 38.6579751,54.7097095 L32.6944896,54.7097095 L32.6944896,62.9422407 L35.6058589,62.9422407 L35.6058589,59.9663071 L37.4606307,59.9663071 C38.8591369,59.9663071 38.9668548,60.9555187 39.0534938,61.7487137 C39.0908382,62.1442324 39.1404647,62.5477178 39.272083,62.9422407 L42.1283485,62.9422407 C41.9693444,62.5453942 41.9296763,61.9619917 41.8993029,61.5507054 C41.892332,61.4439834 41.885195,61.3518672 41.8790539,61.2776763" id="Fill-14" fill="#FEFEFE"></path>
                        <g id="Group-18" transform="translate(43.153527, 54.348050)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-17"></g>
                            <path d="M6.33558506,3.69118672 C6.02288797,3.61882158 5.71118672,3.55724481 5.40944398,3.4986556 C4.20695436,3.26230705 3.25558506,3.07359336 3.19965145,2.48504564 C3.1973278,2.01882158 3.68595851,1.74811618 4.50056432,1.74778423 C4.73243154,1.74778423 5.17857261,1.77832365 5.52297095,1.98297095 C5.87583402,2.17367635 5.97940249,2.42529461 5.98637344,2.64471369 L8.70039834,2.64471369 C8.49741079,0.484879668 6.00363485,0.156414938 4.51434025,0.156414938 C2.6439668,0.156746888 0.461560166,0.857327801 0.461560166,2.82861411 C0.461560166,4.36886307 2.10736929,4.74828216 3.69973444,5.11691286 L3.87749378,5.15707884 C5.69226556,5.57882158 6.2386556,5.70828216 6.2386556,6.27973444 C6.2386556,6.96205809 5.47749378,7.20620747 4.76230705,7.20620747 C3.86969295,7.20620747 3.30902905,6.96687137 3.09525311,6.49848963 C3.02902905,6.35757676 2.98736929,6.19575104 2.97160166,6.02463071 L0.0587385892,6.02463071 C0.225543568,8.71774274 4.04413278,8.79674689 4.48595851,8.79674689 C5.58106224,8.79658091 9.14836515,8.59541909 9.14836515,6.00670539 C9.14836515,4.52902905 7.72546058,4.00537759 6.33558506,3.69118672" id="Fill-16" fill="#FEFEFE" mask="url(#mask-4)"></path>
                        </g>
                        <polygon id="Fill-19" fill="#FEFEFE" points="63.5504896 54.709361 60.0535602 54.709361 57.1943071 57.6476183 56.9835187 57.6476183 56.9551369 57.4982407 56.9551369 54.709361 54.0439336 54.709361 54.0439336 62.9420581 56.9551369 62.9420581 56.9551369 60.5038838 58.0128963 59.5511867 60.6336432 62.9420581 64.234473 62.9420581 59.9561328 57.8784896"></polygon>
                        <mask id="mask-6" fill="white">
                            <use xlink:href="#path-5"></use>
                        </mask>
                        <g id="Clip-22"></g>
                        <polygon id="Fill-21" fill="#FEFEFE" mask="url(#mask-6)" points="65.6677178 62.9419087 68.5770954 62.9419087 68.5770954 54.7092116 65.6677178 54.7092116"></polygon>
                        <polygon id="Fill-23" fill="#FEFEFE" mask="url(#mask-6)" points="77.2460249 54.709361 77.2460249 59.2720166 77.0164813 59.2720166 76.9432863 59.2042988 73.9544066 54.709361 70.9026224 54.709361 70.9026224 62.9420581 73.6370622 62.9420581 73.6370622 58.2813112 73.865112 58.2813112 73.9369793 58.3448797 77.0880166 62.9420581 79.9816266 62.9420581 79.9816266 54.709361"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>