<?xml version="1.0" encoding="UTF-8"?>
<svg width="29px" height="20px" viewBox="0 0 29 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>DEE5AB02-23C1-4427-8A0F-097C2427FD17@1x</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Enerskin_main" transform="translate(-1194.000000, -5146.000000)" fill="#FCAF17">
            <g id="Footer" transform="translate(-36.000000, 4455.000000)">
                <g transform="translate(0.000000, 0.500000)" id="social">
                    <g transform="translate(1174.500000, 690.500000)">
                        <path d="M67.1491187,5.71937211 L74.5809115,10.0087599 L67.1491187,14.2806279 L67.1491187,5.71937211 Z M69.9911436,0 C69.9911436,0 61.0590047,0 58.8171747,0.582533874 C57.616926,0.917953572 56.6284693,1.90626899 56.2930496,3.12432005 C55.7105157,5.36615002 55.7105157,10.0087599 55.7105157,10.0087599 C55.7105157,10.0087599 55.7105157,14.6691722 56.2930496,16.87568 C56.6284693,18.093731 57.5992649,19.0643853 58.8171747,19.399805 C61.0766658,20 69.9911436,20 69.9911436,20 C69.9911436,20 78.9409437,20 81.1827737,19.4174661 C82.4008247,19.0820464 83.371479,18.1289119 83.6892376,16.8933411 C84.2894326,14.6691722 84.2894326,10.026421 84.2894326,10.026421 C84.2894326,10.026421 84.3070937,5.36615002 83.6892376,3.12432005 C83.371479,1.90626899 82.4008247,0.935614677 81.1827737,0.617856083 C78.9409437,0 69.9911436,0 69.9911436,0 Z" id="icon_youtube"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
