<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>7601F16D-BC88-4073-B492-11450E16DF5C@1x</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Product_page_SIZING-GUIDE" transform="translate(-1219.000000, -250.000000)" fill="#D8D8D8">
            <g id="SizeGuide-PopUp" transform="translate(165.000000, 210.000000)">
                <polygon id="icon-close-grey" points="1064.73204 47.5 1069.33055 51.9987274 1066.26488 55 1061.66636 50.4991516 1057.06568 55 1054 51.9987274 1058.60068 47.5 1054 43.0012726 1057.06568 40 1061.66636 44.5008484 1066.26488 40 1069.33055 43.0012726"></polygon>
            </g>
        </g>
    </g>
</svg>