<?xml version="1.0" encoding="UTF-8"?>
<svg width="135px" height="29px" viewBox="0 0 135 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>E31B6863-F6B1-4447-82A3-0BFF5677FC53@1x</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Enerskin_main" transform="translate(-41.000000, -53.000000)">
            <g id="Top_screen" transform="translate(-169.000000, 0.000000)">
                <g id="Menu_header" transform="translate(211.000000, 52.000000)">
                    <g id="Menu">
                        <g id="logo_header-main" transform="translate(0.000000, 1.500000)">
                            <path d="M40.1055308,14.5 C40.1055308,14.5 40.6519565,17.0494767 36.7188819,18.0275778 C28.7565381,20.008934 19.8500978,23.0313266 11.5,28 L46.5,28 L40.1055308,14.5 Z" id="Fill-1" fill="#FCB316"></path>
                            <path d="M40.1055308,14.5 C40.1055308,14.5 40.6519565,17.0494767 36.7188819,18.0275778 C28.7565381,20.008934 19.8500978,23.0313266 11.5,28 L46.5,28 L40.1055308,14.5 Z" id="Stroke-3" stroke="#FBAF1A" stroke-width="0.5"></path>
                            <path d="M32.3821652,12.3789068 C26.8587591,11.7024826 14.6675564,11.7601922 3.56487171,13.9901076 L0,27 C10.3962953,21.0016767 23.3068579,16.7274901 31.6997212,15.2077705 C36.0438162,14.4241713 37.173241,12.9649425 32.3821652,12.3789068" id="Fill-5" fill="#FCB316"></path>
                            <path d="M32.3821652,12.3789068 C26.8587591,11.7024826 14.6675564,11.7601922 3.56487171,13.9901076 L0,27 C10.3962953,21.0016767 23.3068579,16.7274901 31.6997212,15.2077705 C36.0438162,14.4241713 37.173241,12.9649425 32.3821652,12.3789068 Z" id="Stroke-7" stroke="#FBAF1A" stroke-width="0.5"></path>
                            <path d="M33.9707962,9.44702579 C38.0701812,10.3007404 38.6937218,12 38.6937218,12 L40,0 L10,8.63109523 C18.790739,7.60275721 29.2182721,8.45647179 33.9707962,9.44702579" id="Fill-9" fill="#FCB316"></path>
                            <path d="M33.9707962,9.44702579 C38.0701812,10.3007404 38.6937218,12 38.6937218,12 L40,0 L10,8.63109523 C18.790739,7.60275721 29.2182721,8.45647179 33.9707962,9.44702579 Z" id="Stroke-11" stroke="#FBAF1A" stroke-width="0.5"></path>
                            <polygon id="Fill-13" fill="#000000" points="52.0888224 24.4444191 57.3043912 24.4444191 57.3043912 22.5535245 52.0888224 22.5535245 52.0888224 21.0626071 57.8283433 21.0626071 57.8283433 19 49 19 49 28 58 28 58 25.9353365 52.0888224 25.9353365"></polygon>
                            <polygon id="Fill-15" fill="#000000" points="67.1357328 23.9878329 66.8976178 23.9878329 66.8189021 23.913802 63.6929052 19 60.5 19 60.5 28 63.3613154 28 63.3613154 22.9042054 63.6004143 22.9042054 63.6742103 22.9741235 66.9723977 28 70 28 70 19 67.1357328 19"></polygon>
                            <polygon id="Fill-17" fill="#000000" points="75.5881668 24.4444191 80.8043141 24.4444191 80.8043141 22.5535245 75.5881668 22.5535245 75.5881668 21.0626071 81.3303205 21.0626071 81.3303205 19 72.5 19 72.5 28 81.5 28 81.5 25.9353365 75.5881668 25.9353365"></polygon>
                            <path d="M88.519482,23.0714775 L86.5832395,23.0714775 L86.5832395,20.8918703 L88.3331324,20.8918703 C89.1881484,20.8918703 90.1746056,21.0172414 90.1746056,21.9821877 C90.1766983,23.0714775 88.9270596,23.0714775 88.519482,23.0714775 M93.2300422,26.1759534 C93.1084665,25.0609728 92.5573897,24.2625029 91.716325,23.9891528 L91.228926,23.8308975 L91.716325,23.6788079 C92.8553498,23.3253026 93.2579448,22.2822562 93.2579448,21.4981731 C93.2579448,19.7717515 91.5309719,19 89.8169538,19 L83.5,19 L83.5,27.9948618 L86.5892186,27.9948618 L86.5892186,24.7435373 L88.5543603,24.7435373 C90.0361887,24.7435373 90.1487957,25.8245033 90.2414723,26.6960379 C90.2701721,27.1383307 90.3481998,27.5758963 90.4735623,28 L93.5,28 C93.3316874,27.5663393 93.2898335,26.9292076 93.2569483,26.4791048 C93.24499,26.3578443 93.2370178,26.2571363 93.2300422,26.1759534" id="Fill-19" fill="#000000"></path>
                            <path d="M101.563687,22.6795039 C101.23742,22.6040144 100.910955,22.54047 100.595403,22.4836815 C99.3390915,22.2379243 98.3442658,22.0410248 98.2862671,21.4281984 C98.2862671,20.9386423 98.7944933,20.6605744 99.6457967,20.6605744 C99.8887033,20.6605744 100.354561,20.691906 100.71435,20.9053525 C101.074237,21.118799 101.1922,21.3655352 101.198983,21.5907311 L104.036006,21.5907311 C103.823671,19.3387728 101.217661,19 99.6606404,19 C97.7052968,19 95.424767,19.7294386 95.424767,21.781658 C95.424767,23.3854439 97.1450683,23.7800261 98.8092387,24.1638381 L98.9950313,24.2059399 C100.891295,24.6445822 101.462533,24.7796997 101.462533,25.375 C101.462533,26.0848564 100.667262,26.3394256 99.9191772,26.3394256 C98.986184,26.3394256 98.4002985,26.0907311 98.1761678,25.6030352 C98.105488,25.4484334 98.0619398,25.2828655 98.047391,25.1134791 L95,25.1134791 C95.1750775,27.9177546 99.1660784,28 99.6272174,28 C100.771365,28 104.499996,27.79047 104.499996,25.095953 C104.502945,23.5508159 103.015621,23.0065274 101.563687,22.6795039" id="Fill-21" fill="#000000"></path>
                            <polygon id="Fill-23" fill="#000000" points="116.260982 19 112.486711 19 109.400701 22.2121558 109.173413 22.2121558 109.141842 22.048669 109.141842 19 106 19 106 28 109.141842 28 109.141842 25.3348566 110.283869 24.2932709 113.113049 28 117 28 112.382152 22.4650977"></polygon>
                            <polygon id="Fill-25" fill="#000000" points="118.5 28 121.5 28 121.5 19 118.5 19"></polygon>
                            <polygon id="Fill-27" fill="#000000" points="130.637335 19 130.637335 23.9878899 130.397329 23.9878899 130.320475 23.9138581 127.193203 19 124 19 124 28 126.861582 28 126.861582 22.9051754 127.099719 22.9051754 127.174605 22.9750943 130.471131 28 133.5 28 133.5 19"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>