<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
  <title>8C512BCC-AD4D-4163-946E-D52C47BAEF3A@1x</title>
  <desc>Created with sketchtool.</desc>
  <defs></defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Enerskin_main" transform="translate(-1228.000000, -58.000000)" fill="#231F20">
      <g id="Top_screen" transform="translate(-169.000000, 0.000000)">
        <g id="Menu_header" transform="translate(211.000000, 52.000000)">
          <g id="Menu">
            <g id="search" transform="translate(1077.000000, 0.000000)">
              <path d="M118.326558,23.2234836 C114.247958,23.2234836 110.929633,19.9051586 110.929633,15.8265582 C110.929633,11.7479578 114.247958,8.42963273 118.326558,8.42963273 C122.405159,8.42963273 125.723484,11.7479578 125.723484,15.8265582 C125.723484,19.9051586 122.405159,23.2234836 118.326558,23.2234836 M128.717309,24.2098476 L125.844729,21.3372676 C126.980318,19.792275 127.653116,17.8867627 127.653116,15.8265582 C127.653116,10.6837654 123.469351,6.5 118.326558,6.5 C113.183765,6.5 109,10.6837654 109,15.8265582 C109,20.969351 113.183765,25.1531164 118.326558,25.1531164 C120.7148,25.1531164 122.895607,24.2497266 124.547051,22.7680903 L127.353058,25.5740979 C127.541198,25.7625587 127.788191,25.8567891 128.035184,25.8567891 C128.282177,25.8567891 128.52917,25.7625587 128.717309,25.5740979 C129.09423,25.1974979 129.09423,24.5864475 128.717309,24.2098476" id="icon_search"></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>