<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="20px" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
	<title>4813ACD1-E4AD-4810-81FA-758CCAC40AC2@1x</title>
	<desc>Created with sketchtool.</desc>
	<defs></defs>
	<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="Enerskin_main" transform="translate(-1376.000000, -58.000000)" fill="#231F20">
			<g id="Top_screen" transform="translate(-169.000000, 0.000000)">
				<g id="Menu_header" transform="translate(211.000000, 52.000000)">
					<g id="Menu">
						<path d="M1336.39625,24.2068966 L1337.18002,13.4482759 L1338.38573,13.4482759 L1338.38573,15.9137931 C1338.38573,16.4089138 1338.7951,16.8103448 1339.30001,16.8103448 C1339.80492,16.8103448 1340.21429,16.4089138 1340.21429,15.9137931 L1340.21429,13.4482759 L1344.7857,13.4482759 L1344.7857,15.9137931 C1344.7857,16.4089138 1345.19507,16.8103448 1345.69998,16.8103448 C1346.2049,16.8103448 1346.61427,16.4089138 1346.61427,15.9137931 L1346.61427,13.4482759 L1347.81997,13.4482759 L1348.60374,24.2068966 L1336.39625,24.2068966 Z M1340.21429,10.5344828 C1340.21429,9.29858621 1341.23966,8.29310345 1342.5,8.29310345 C1343.76033,8.29310345 1344.7857,9.29858621 1344.7857,10.5344828 L1344.7857,11.6551724 L1340.21429,11.6551724 L1340.21429,10.5344828 Z M1349.58339,12.4878448 C1349.54911,12.0187241 1349.15117,11.6551724 1348.6714,11.6551724 L1346.61427,11.6551724 L1346.61427,10.5344828 C1346.61427,8.30991379 1344.76856,6.5 1342.5,6.5 C1340.23144,6.5 1338.38573,8.30991379 1338.38573,10.5344828 L1338.38573,11.6551724 L1336.3286,11.6551724 C1335.84883,11.6551724 1335.45089,12.0187241 1335.4166,12.4878448 L1334.50232,25.039569 C1334.48426,25.2876897 1334.57226,25.5322241 1334.74506,25.7144483 C1334.91809,25.8964483 1335.1606,26 1335.41431,26 L1349.58568,26 C1349.83939,26 1350.08191,25.8964483 1350.25493,25.7144483 C1350.42796,25.5322241 1350.51573,25.2876897 1350.49768,25.039569 L1349.58339,12.4878448 Z" id="icon-cart"></path>
					</g>
				</g>
			</g>
		</g>
	</g>
</svg>