<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
	<title>ED437FDB-FE25-4945-A287-4635AB9FF9C4</title>
	<desc>Created with sketchtool.</desc>
	<defs></defs>
	<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="Enerskin_main" transform="translate(-1304.000000, -58.000000)" fill="#000000">
			<g id="Top_screen" transform="translate(-169.000000, 0.000000)">
				<g id="Menu_header" transform="translate(211.000000, 52.000000)">
					<g id="Menu">
						<path d="M1275.91405,16.906175 C1279.48158,18.2468 1282,21.558875 1282,26 L1280.05,26 C1280.05,21.125 1276.55073,18.2 1272.25,18.2 C1267.94927,18.2 1264.45,21.125 1264.45,26 L1262.5,26 C1262.5,21.558875 1265.01842,18.2468 1268.58595,16.906175 C1267.2541,15.83465 1266.4,14.19275 1266.4,12.35 C1266.4,9.11885 1269.01885,6.5 1272.25,6.5 C1275.48212,6.5 1278.1,9.11885 1278.1,12.35 C1278.1,14.19275 1277.2459,15.83465 1275.91405,16.906175 M1272.25,16.25 C1274.40085,16.25 1276.15,14.50085 1276.15,12.35 C1276.15,10.19915 1274.40085,8.45 1272.25,8.45 C1270.09915,8.45 1268.35,10.19915 1268.35,12.35 C1268.35,14.50085 1270.09915,16.25 1272.25,16.25" id="icon_user_black"></path>
					</g>
				</g>
			</g>
		</g>
	</g>
</svg>