.container{
    max-width: 1290px;
    padding-right:90px;
    padding-left:90px;
    margin-left:auto;
    margin-right:auto;

    @include breakpoint(medium){
        padding-right:40px;
        padding-left:40px;
    }

    @include breakpoint(extra-small){
        padding-right:20px;
        padding-left:20px;
    }
}

.big-container {
    max-width: 1390px;
    padding-right: 44px;
    padding-left: 44px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(medium){
        padding-right:34px;
        padding-left:34px;
    }

    @include breakpoint(mobile-landscape){
        padding-right:15px;
        padding-left:15px;
    }
}

.content {
    padding-top: 101px;
    padding-bottom: 210px;

    @include breakpoint(medium) {
        padding-top:94px;
    }

    @include breakpoint(small){
        padding-top: 81px;
    }

    @include breakpoint(extra-small){
        padding-bottom:20px;
    }

    .template-product &{
        padding-bottom:0;
    }
}

.template-index {
    .content {
        padding-top: 0;
        padding-bottom: 0;
    }
}